/***************************************************

  Read Me

  ディスプレイ解像度 2560 x 1440 での展示を前提にしています。

****************************************************/


* {
	margin: 0;
	padding: 0;
	line-height: 100%;
  border: none;
	font-family: "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto , "Noto Sans Japanese", "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "メイリオ" , Meiryo , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
}

html,body {
  height: 100%;
	/* background: #F8F8F8; */
}

#container {
  position: relative;
  width:100%;
  height:100%;
  overflow: hidden;
}

#LeftBar {
  position: absolute;
  left: 0;
  bottom: 0;
  height:100%;
}

  #LeftBar img {
    height:100%;
  }

#wrapper{
  position: relative;
  width: 100%;
    height: 100%;
}

  .slider {
    width: 70%;
    height: 100%;
    margin: auto;
  }

    .slider iframe {
      display: block;
      width: 80%;
      max-width: 1440px;
      height: 80%;
      min-height: 900px;
      margin-top: 14%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 6%;
      box-shadow: 0 0 8px gray;
    }


#RightBar{
  position: absolute;
  right: 0;
  bottom: 0;
  height:100%;
}

  #RightBar img {
    height:100%;
  }


/******* For Slick ********/

.slick-prev:before,
.slick-next:before {
    color: #999;
}

.slick-next {
    right: 0rem;
    z-index: 99;
}
.slick-prev {
     left: 0rem;
    z-index: 100;
}
